html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    background-color: #001220;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

input {
    outline: none;
}

/* Header starts */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.header .banner {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .banner img {
    width: 150px;
}

.header .navigations {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.header .navigations nav a {
    margin-right: 25px;
    font-size: 13px;
    color: #ffff;
}

.header .navigations nav .nav_active {
    color: #ff5252;
}

.header .navigations .menu {
    display: none;
    height: 100%;
    width: 60px;
}

.header .navigations .menu .menu-btn {
    width: 100%;
    height: 100%;
}

.header .navigations .menu .menu-btn button {
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: transparent;
}

.header .navigations .menu .menu-btn button span {
    font-size: 29px;
}

.menu-nav {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    top: 60px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.3s ease-in;
    backdrop-filter: blur(5px);
}

.menu-nav.power-on {
    max-height: 300px;
}

.menu-nav a {
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: transparent;
    color: #ffff;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.menu-nav .nav_active {
    color: #ff5252;
}

@media screen and (max-width: 767px) {
    .header .navigations nav {
        display: none;
    }

    .header .navigations .menu {
        display: flex;
    }
    .menu-nav {
        display: flex;
    }
}

/* Header ends */

/* Landing starts */

.cont {
    height: 100vh;
    width: 100vw;
    background-color: #ff5252;
    display: flex;
}

.hero_bg {
    width: 100%;
    background: url('../img/blob-scene-haikei-ver.svg');
    background-size: 100vw;
}

.cont .containe {
    display: flex;
    height: 100vh;
    padding-top: 60px;
}

.cont .containe .contetn_area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont .containe .cont_image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont .containe .cont_image img {
    width: 90%;
}

.cont .containe .contetn_area h1 {
    color: #ffff;
    text-align: center;
}

.cont .containe .contetn_area p {
    color: #c0c0c0;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}

.cont .containe .contetn_area a {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #ff5252;
    color: #001220;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.cont .containe .contetn_area a:hover {
    background-color: #fa7f7f;
}

@media screen and (max-width: 677px) {
    .cont .containe {
        display: flex;
        flex-direction: column;
    }
    .cont .containe .contetn_area {
        padding-top: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .hero_bg {
        background: url('../img/blob-1024.svg');
    }
}

@media screen and (max-width: 769px) {
    .hero_bg {
        background: url('../img/blob-768.svg');
        background-size: 100%;
    }
}

@media screen and (max-width: 675px) {
    .hero_bg {
        background: url('../img/blob-675.svg');
    }
}

@media screen and (max-width: 425px) {
    .hero_bg {
        background: url('../img/blob-425.svg');
    }
}

/* Landing ends */