html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none !important;
}

button {
    outline: none;
}

input {
    outline: none;
}

/* Header starts */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0px;
    z-index: 999;
    background: #0000003a;
    backdrop-filter: blur(5px);
}

.header .banner {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .banner img {
    width: 150px;
}

.header .navigations {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.header .navigations nav a {
    margin-right: 25px;
    font-size: 13px;
    color: #ffff;
}

.header .navigations nav .nav_active {
    color: #ff5252 !important;
}

.header .navigations .menu {
    display: none;
    height: 100%;
    width: 60px;
}

.header .navigations .menu .menu-btn {
    width: 100%;
    height: 100%;
}

.header .navigations .menu .menu-btn button {
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: transparent;
}

button:focus,
button:active:focus {
    outline: none !important;
    box-shadow: none !important;
}

.header .navigations .menu .menu-btn button span {
    font-size: 29px;
    color: #ffff;
}

.menu-nav {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    top: 60px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.3s ease-in;
    background: #0000003a;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.menu-nav.power-on {
    max-height: 300px;
}

.menu-nav a {
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: transparent;
    color: #ffff;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.navbar nav a:hover {
    color: #ff5252;
}

.menu-nav a:hover {
    color: #ff5252;
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.menu-nav .nav_active {
    color: #ff5252 !important;
}

@media screen and (max-width: 767px) {
    .header .navigations nav {
        display: none;
    }

    .header .navigations .menu {
        display: flex;
    }

    .menu-nav {
        display: flex;
    }
}

/* Header ends */

/* Landing starts */

.cont {
    height: 100vh;
    width: 100vw;
    background-color: #001220;
    display: flex;
}

.hero_bg {
    width: 100%;
    background: url('../img/blob.svg') no-repeat right top;
    background-size: 100vw 100vh;
    backdrop-filter: blur(5px);
}

.contentarea {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentarea .conte {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentarea .conte div {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.banneer h1 {
    color: #ffff;
    text-align: center;
}

.banneer .btn {
    width: 220px;
    height: 50px;
    color: #001220;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
}

@media (max-width: 534px) {
    .banneer h1 {
        font-size: 29px;
    }
}

@media (max-width: 368px) {
    .banneer h1 {
        font-size: 24px;
    }
}

@media (max-width: 308px) {
    .banneer h1 {
        font-size: 19px;
    }
}

.banneer p {
    color: #c0c0c0;
}

.btn {
    background-color: #ff5252 !important;
    color: #001220 !important;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #fa7f7f !important;
    color: #001220 !important;
}

.banneer {
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}

@media (max-width: 991px) {
    .banneer .lrl {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .banneer {
        padding: 100px 0;
    }
}

.block {
    max-width: 500px;
}

@media (max-width: 768px) {
    .block {
        max-width: 100%;
        text-align: center;
    }
}

.btn {
    font-size: 18px;
    padding: 12px 30px;
    color: #001220;
    background-color: #ff5252;
    border: 0px;
    border-radius: 100px;
}

@media (max-width: 768px) {
    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* Landing ends */

h1,
h2,
h3,
h4,
h5,
h6 {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 60px;
}

.section-head h4 {
    position: relative;
    padding: 0;
    color: #ff5252;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.section-head h4:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #ff5252;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: #001220;
}

p.service_text {
    color: #cccccc !important;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.section-head p,
p.awesome_line {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.extra-text {
    font-size: 34px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 25px;
    position: relative;
    text-transform: none;
}

.extra-text::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #ff5252;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.extra-text span {
    font-weight: 700;
    color: #ff5252;
}

.item {
    background: #ffff;
    text-align: center;
    padding: 30px 25px;
    margin-bottom: 30px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item h6 {
    font-size: 20px;
    font-weight: 900;
}

.item:hover {
    -webkit-transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover .item,
.item:hover span.icon {
    border-radius: 10px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover h6,
.item:hover p {
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: #ff5252;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    text-align: center;
}

.item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.20);
    color: #ff5252;
}

.item .feature_box_col_two {
    background: rgba(255, 77, 28, 0.15);
    color: #ff5252;
}

.item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #ff5252;
}

.item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #ff5252
}

.item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #ff5252
}

.item .feature_box_col_six {
    background: rgba(23, 39, 246, 0.15);
    color: #ff5252
}

.item p {
    font-size: 15px;
    line-height: 26px;
}

.item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
}

.mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}

.mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ff5252;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}

.mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}

.skills {
    padding-top: 0px;
}

.skills .prog-item {
    margin-bottom: 25px;
}

.skills .prog-item:last-child {
    margin-bottom: 0;
}

.skills .prog-item p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

.skills .prog-item .skills-progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 20px;
    position: relative;
}

.skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #ff5252;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    padding: 3px 7px;
    border-radius: 30px;
}

ul {
    margin: 0px;
    padding: 0px;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.team {
    padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;
}

.team .section-title {
    text-align: left;
    margin-bottom: 50px
}

.team__item {
    height: 480px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    background-position: center;
    background-size: cover
}

.team__item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(34, 48, 96, 0.8);
    content: "";
    z-index: -1;
    opacity: 0;
    -webkit-transition: all, 0.5s, ease-out, .5s;
    -o-transition: all, 0.5s, ease-out, .5s;
    transition: all, 0.5s, ease-out, .5s
}

.team__item:hover:after {
    opacity: 1
}

.team__item:hover .team__text {
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(5px);
}

.team__item:hover .team__text .team__title {
    border-bottom: 1px solid rgba(183, 183, 183, 0.2);
    padding: 0 0 26px;
    margin-bottom: 26px;
    opacity: 0;
    visibility: hidden;
    position: relative;
    bottom: initial;
    opacity: 1;
    visibility: visible
}

.team__item:hover .team__text p {
    top: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease .3s;
    -o-transition: all .5s ease .3s;
    transition: all .5s ease .3s
}

.team__item:hover .team__text .team__social {
    opacity: 1;
    visibility: visible;
    bottom: 34px;
    -webkit-transition: all .5s ease .5s;
    -o-transition: all .5s ease .5s;
    transition: all .5s ease .5s
}

.team__text {
    height: 100%;
    top: 361px;
    position: relative;
    padding: 35px 30px 30px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background: rgba(0, 0, 0, 0.541);
}

.team__text .team__title {
    border-bottom: 1px solid rgba(183, 183, 183, 0.2);
    padding: 0 0 26px;
    margin-bottom: 26px;
    position: relative;
}

.team__text .team__title h4 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 6px
}

.team__text .team__title span {
    font-size: 15px;
    color: #ff5252;
}

.team__text p {
    color: #e4e4e4;
    line-height: 26px;
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: 50px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.team__text .team__social {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    bottom: 0;
    opacity: 0;
    visibility: hidden
}

.team__text .team__social a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin-right: 34px;
    -webkit-transition: all, .3s;
    -o-transition: all, .3s;
    transition: all, .3s
}

.team__text .team__social a:last-child {
    margin-right: 0
}

.team__text .team__social a:hover {
    color: #88C417
}

@media(max-width:768px) {
    .team__item {
        height: 350px
    }

    .team__text {
        padding: 25px 20px 20px
    }
}





.footer {
    background: #f6f9ff;
    padding: 0 0 30px 0;
    font-size: 14px;
    padding-bottom: 0px;
}

.footer .footer-newsletter {
    padding: 50px 0;
    background: #0000003a;
    backdrop-filter: blur(5px);
}

.footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #001220;
}

.footer .footer-newsletter form {
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 0px;
}

.footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}

.footer .footer-newsletter form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #001220;
    /* background: #4154f1; */
    color: #fff;
    transition: 0.3s;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.footer .footer-newsletter form input[type=submit]:hover {
    background: #5969f3;
}

.footer .footer-top {
    background: #001220;
    background-size: contain;
    color: #c0c0c0;
    padding: 60px 0 30px 0;
}

.footer .footer-top a {
    color: #c0c0c0 !important;
}

@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 20px;
}

.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.footer .footer-top .social-links a:hover {
    color: #012970;
    text-decoration: none;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #ff5252;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #c0c0c0;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: #013289;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}

.thintry {
    color: #ff5252;
}


.contactForm {
    width: calc(100% - 20px);
    max-width: 700px;
    margin: 0 auto;
}

/* STYLES FOR FORM */
.contactForm form {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    padding-top: 20px;
}

.inputGroup {
    width: 100%;
    position: relative;
}

.inputGroup1 {
    grid-column: 1;
    grid-row: 1;
}

.inputGroup2 {
    grid-column: 2;
    grid-row: 1;
}

.inputGroup3 {
    grid-column: 1;
    grid-row: 2;
}

.inputGroup4 {
    grid-column: 2;
    grid-row: 2;
}

.inputGroup5 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.inputGroup6 {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.inputGroup7 {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    justify-content: flex-end;
}


.inputGroup__textfield {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 13px;
    padding: 20px;
    border: 1px solid #D9D9D9;
    outline: 0;
    border-radius: 0;
    transition: border 0.3s ease-in-out;

}

.inputGroup__textfield:focus,
.inputGroup__textfield:active {
    border: 1px solid #D9D9D9;
}


.inputGroup button {
    padding: 20px;
    width: 50%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: #001220;
    cursor: pointer;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}


/* STYLES FOR VALIDATION WARNING */
.hf-warning {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(-15%, -50%) !important;
    background: orangered !important;
    display: inline-block !important;
    padding: 7px 14px !important;
    color: #FFFFFF !important;
    font-size: 11px !important;
    font-family: sans-serif;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1) !important;
    border: 0 !important;
    border-radius: 2px !important;
}

.hf-warning:after {
    content: "";
    width: 10px;
    height: 10px;
    background: orangered;
    position: absolute;
    z-index: 1;
    bottom: -5px;
    right: 15px;
    transform: rotate(45deg);
}


@media screen and (max-width: 480px) {
    form {
        display: flex !important;
        flex-wrap: wrap;
    }

    form>div {
        margin-bottom: 30px;
    }
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.client {
    height: 300px;
} 
